:root {
  --logo-main-color: #2196f3;
  --logo-second-color: #000000;
  --logo-third-color: #ffffff;
  --heder-link-color: #212121;
  --heder-acent-link-color: #2196f3;
  --heder-tel-color: #757575;
  --title-main-color: #212121;
  --title-second-color: #212121;
  --title-third-title-color: #ffffff;
  --text-main-color: #757575;
  --btn-main-color: #2196f3;
  --btn-second-color: #f5f4fa;
  --btn-text-color: #ffffff;
  --btn-second-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-text-accent-color: #ffffff;
  --footer-text-address-color: #ffffff;
  --background-main-color: #ffffff;
  --items-background-color: #ffffff;
  --icon-background-color: #ffffff;
  }

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--text-main-color)
  background-color: var(--background-main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*---------------------HEADER---------------------*/

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-list {
  display: flex;
  margin-left: 95px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-contacts {
  margin-left: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-part1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}

.logo-part2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-second-color);
}

.logo-part2-1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-third-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heder-link-color);
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--heder-acent-link-color);
}

 .header-link.current {
  color: var(--heder-acent-link-color);
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--heder-acent-link-color);
  border-radius: 2px;
  position: absolute;
  display: block;
  color: var(--heder-acent-link-color);
  bottom: 0;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heder-tel-color);
  }

.header-mail::before {
  fill: currentColor;
  margin-right: 10px;
  background-image: url(../images/icons/icons.svg#icon-envelope);
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
  background-image: url(../);
}


.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heder-tel-color);
  }

.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*---------------------HERO---------------------*/

.hero {
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/Hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 200px;
  padding-top: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-third-title-color);
  max-width: 696px;
  margin: 0 auto 30px;
  }

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--btn-main-color);
  color: var(--btn-text-color);
  box-sizing: border-box;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*---------------------FEATURES---------------------*/

section.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item + .features-item {
  margin-left: 30px;
}

.pre-futures {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.pre-futures-icon {
  width: 70px;
  height: 70px;
  fill: #212121;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-main-color);
  }

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

/*---------------------WHAT WE DOING---------------------*/

.what-we-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
}

.doing-item:not(:last-child) {
  margin-right: 30px;
}

.wwd-wrap {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;
}

.wwd-text-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 23.8%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  display: flex;
  justify-content: center;
}

.wwd-text {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
}


/*---------------------TEAM---------------------*/

.team {
  background-color: #F5F4FA;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--title-main-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  }

.team-item {
  background: var(--items-background-color);
  width: 270px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-second-color);
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  margin-bottom: 16px;
  }

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: block;
  background-color:var(--icon-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196F3;
  color: #ffffff;
}  

/*---------------------CASTOMERS---------------------*/

.castomers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--title-main-color);
  margin-bottom: 50px;
}

.castomers-list {
  display: flex;
}

.castomers-item {
  width: 170px;
  height: 92px;
}

.castomers-item + .castomers-item {
  margin-left: 30px;
}

.castomers-link {
  width: 100%;
  height: 100%;
  display: block;
  background-color:var(--icon-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.castomers-icon {
  fill: currentColor;
}

.castomers-link:hover,
.castomers-link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

  /*---------------------FOOTER---------------------*/

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

address {
  font-style: normal;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.footer-address {
  color: var(--footer-text-address-color);
}

.footer-social{
  width: auto;
  height: auto;
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-third-title-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-items {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-items + .footer-social-items {
 margin-left: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: block;
  background-color:#FFFFFF1A;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.footer-subscription {
  margin-left: 93px;
  padding-top: 12px;
}

.footer-mail-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer-mail-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: gba(255, 255, 255, 0.6);
  
}

.btn-subscribe {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--btn-main-color);
  color: var(--btn-text-color);
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 28px;
  margin-left: 12px;
  position: relative;
  display: inline-flex;
}

.icon-send-footer {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--btn-text-color);
  margin-left: 10px;
}


/*---------------------MODAL FOR---------------------*/

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) rotate(180deg) ;
  transition: transform 500ms;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 500ms;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus + .modal-close-icon {
  fill: #2196F3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.madal-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
} 

.modal-form {
  display: block;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-form-label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color:  #757575;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  color: #757575;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-textarea:focus {
  border-color: #2196F3;
}

.modal-form-input:focus + .input-icon {
  fill: #2196F3;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  transform: translateY(-50%);
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-textarea {
  margin-bottom: 20px;
}

.modal-form-textarea::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

.modal-check {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.check-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: block;
  margin-right: 8.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-check-input:focus + .check-label .check-item {
  border-color: #2196F3;
}

.check-icon{
  fill: #FFFFFF;
}

.policy-link {
  color: #2196F3;
  margin-left: 3px;
}

.modal-check-input:checked + .check-label .check-item {
  background-color: #2196F3;
  border: none;
}

.modal-btn { 
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--btn-main-color);
  color: var(--btn-text-color);
  box-sizing: border-box;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 

/*---------------------PORTFOLIO---------------------*/

.filter-list {
  display: flex;
  margin: 0 auto 34px;
  justify-content: center;
}

.filter-items:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter {
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-second-text-color);
  min-width: 73px;
  padding: 6px 22px;
  display: block;
  border: transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter:hover,
.portfolio-filter:focus {
  background-color: var(--btn-main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  background: var(--items-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:0px 4px 4px rgba(133, 107, 107, 0.25);
}

.portfolio-item:hover .portfolio-item-toptext {
  transform: translateY(0);
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-toptext {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  overflow: auto;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-info {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--title-main-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  margin-top: 4px;
}